/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.combat_helper_characters_list {
	list-style-type: none;
    padding: 0;
}

.single_character_input_card {
	background-color: lightgray;
	margin-top: 1rem;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
}

.single_character_input_card, .character_labels_list {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
	padding: 0 0.6rem;
	border-radius: 10px;
	align-items: center;
	list-style-type: none;
}

.single_character_input_card > * {
	height: 2rem;
}

.character_text_input {
    width: 10rem;
}

.character_number_input_label {
    width: 2.5rem;
}

.combat_helper_number_input {
    width: 2.5rem;
    padding: 0.5rem;
}

.remove_button_character {
    width: 2rem;
    height: 2rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
	margin-left: auto;
}

.x_mark_character {
    width: 1rem;
    height: 0.15rem;
    background-color: white;
    position: relative;
    transition: background-color 0.3s ease;
}

.remove_button_character:hover {
    background-color: darkred;
}

.remove_button_character:hover .x_mark_character {
    background-color: white;
}
