.enemy_details_display {
	padding: 0.3rem 0.7rem;
	margin-top: 0.5rem;
}

.enemy_details_display > ul {
	list-style-type: none;
	padding-left: 0;
}

.enemy_details_display > ul > li{
	margin-bottom: 0.5rem;
}

.single_status_effect > ul {
	list-style-type: none;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 0.5rem;
	row-gap: 0;
	padding: 0;
	justify-content: left;
}

.single_status_effect > ul > li {
	align-self: center;
}

.select_effect_dropdown {
	width: 8rem;
}

.x_input {
	width: 1.8rem;
	padding: 0.5rem;
	margin: 0;
}

.button_like_input {
	margin-top: 0.5rem;
}

.remove_button_status_effect_container {
	margin-left: auto;
}

.remove_button_status_effect {
    width: 2rem;
    height: 2rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.x_mark_status_effect {
    width: 1rem;
    height: 0.15rem;
    background-color: white;
    position: relative;
    transition: background-color 0.3s ease;
}

.remove_button_status_effect:hover {
    background-color: darkred;
}

.remove_button_status_effect:hover .x_mark_status_effect {
    background-color: white;
}

.other_duration_input {
	display: inline;
	width: 1.8rem;
	padding: 0.5rem;
	margin: 0 0 0 0.5rem;
}

.other_name_input {
	width: 6rem;
	padding: 0.5rem;
	margin: 0 0 0 1rem;
}

.other_description_input {
	width: 11rem;
	padding: 0.5rem;
	margin: 0 0 0 0rem;
}
